@model BookLibrary.Models.TakenBook

@{
    ViewData["Title"] = "Details";
}

<h2>Подробно</h2>

<div>
    <h4>Запись учета книг</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reader)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reader.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateIssue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateIssue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsReturned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsReturned)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TakenBookId">Изменить</a> |
    <a asp-action="Index">Назад к списку</a>
</div>
