@model IEnumerable<BookLibrary.Models.TakenBook>

@{
    ViewData["Title"] = "Учет выданных книг";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReturned)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Reader.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateIssue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsReturned)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TakenBookId">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.TakenBookId">Подробно</a> |
                    <a asp-action="Delete" asp-route-id="@item.TakenBookId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>