@model IEnumerable<BookLibrary.Models.TakenBook>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReturned)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reader.ReaderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReturned)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TakenBookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TakenBookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TakenBookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
